astroid==2.4.2
certifi==2018.11.29
chardet==3.0.4
idna==2.8
isort==4.3.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
nose==1.3.7
pyflakes==2.1.1
pylint==2.6.0
requests==2.21.0
six==1.12.0
urllib3==1.26.5
wrapt==1.11.1
